<%= form_for post.comments.new, url: post_comments_path(post) do |f| %>
  <div class="field">
    <%= f.label :body %>
    <%= f.text_field :body %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
